  <!DOCTYPE html>
<html>
  <head>
    <title>PragProg Books Online Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <section class="content">
        <nav class="side_nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/questions">Questions</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/"><%= @current_date_and_time %></a></li>
          </ul>
          <% if @cart %>
            <div id="cart" class="carts">
              <%= render @cart %>
            </div>
          <% end %>
        </nav>
      <%= image_tag 'logo.png', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <body>
      <%= content_tag :main, class: controller.controller_name do %>
        <%= yield %>
      <% end %>
    </body>
  </section>
  </body>
</html>
